<div>
<p>
  <%= link_to @thing.name, :controller => @thing.path %>
</p>

<p>
  <%= raw @thing.description %>
</p>


<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
</div>
