<ul id="navlinks">
<li><%= ajax_link_to "Posts", posts_url %></li>
<li><%= ajax_link_to "Things", things_url %></li>
<% if admin? %>
<li><%= ajax_link_to "Users", users_url %></li>
<% end %>
<% cache ('cms_menu_items') do |i| %>
  <% Post.where('url IS NOT NULL AND url != ""').each do |i| %>
    <li><%= ajax_link_to i.title, "/#{i.url}" %></li>
  <% end %>
<% end %>
</ul>
