<div class="bill">
<span class="bill-number"></span>
<span class="bill-title"></span>
<span class="bill-date"></span>
<span class="bill-sponsor"></span>
<span class="bill-last-major-action-date"></span>
<span class="bill-last-major-action"></span>
</div>
