<style type="text/css">
div#congress-display {
  background: white;
}
#congress-display > div {
  color: #555555;
}
div.congress-header {
  font-family: "Bebas Neue";
  font-size: 24px;
  color: black;
}

#house-bills, #senate-bills {
  display: inline-block;
  height: 640px;
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 12px;
}

#house-bills {
}

#senate-bills {
}

.bill {
  height: 5em;
  padding: .5em 0;
}

.bill > div {
  padding: 0 1em;
  line-height: 1em;
}

.bill-number {
  display: inline-block;
}

/* needs to override .bill > div */
div.bill-date {
  line-height: 2em;
  float: right;
}

.odd {
  background: #EEEEEE;
}

.clearfix {
  clear: both;
}

</style>

<script id="bills-template" type="text/x-mustache-template">
<div class="bill {{parity}}">
  <h6 class="bill-number">
    <a href="#" onclick="billDetails('{{bill_id}}'); return false;">{{bill_number}}</a>
  </h6>
<div class="bill-date">{{bill_date}}</div>
<div>{{bill_title}}</div>
<div class="bill-content"></div>
</script>

<script type="text/javascript">
var $displayDiv;
function toggleWidth() {
  var width = parseInt($("#wrapper").css("max-width"));
  if (width <= 640) {
    $("#wrapper").css("max-width", "100%");
  } else {
    $("#wrapper").css("max-width", "640px");
  }
}

function clearDisplay () {
  $displayDiv.html("");
}

/* converts a bill.number to a bill-id used in API calls */
function formalizeBillId (str) {
  return str.replace(/\./g,"").toLowerCase();
}

function billDetails (billId) {
  $.ajax("/congress/query/bill-details/" + billId,
      { "success" : showBillDetails,
        "error" : showError });
}

function showBillDetails (data) {
  $("#bill-details").html(data.gpo_pdf_uri);
}

function showHouseBills (data) {
  showBills (data, $("#house-bills"));
}

function showSenateBills (data) {
  showBills (data, $("#senate-bills"));
}

function showBills (data, $displayElement) {
  console.log (data);
  var $element;
  var bill;
  //var template = $("#bills-template").html();
  var template = Handlebars.compile($("#bills-template").html());
  var html;
  for (var i = 0; i < data.length; i++) {
    bill = data[i];
    bill.id = formalizeBillId(bill.number);
   // html = Mustache.render(template,
   html = template(
                    {parity: ["even","odd"][i%2],
                     bill_id: bill.id,
                     bill_number: bill.number,
                     bill_title: bill.title,
                     bill_date: bill.introduced_date});
    $(html).appendTo($displayElement);
  }
}

function showError (request, state, error) {
  console.log(error);
}

$().ready(function () {
  $.ajaxSetup({ error: showError });
  $displayDiv = $("#congress-display");
  $.ajax("/congress/query/recent-bills/house/introduced",
      { "success" : showHouseBills });
  $.ajax("/congress/query/recent-bills/senate/introduced",
      { "success" : showSenateBills });
});
</script>
<div id="congress-display">
  <a href="#" id="widthToggler" onclick="toggleWidth(); return false;">Toggle Width</a>
  <div id="bill-display">
    <div id="house-bills-wrapper">
      <div id="house-bills-header" class="congress-header">Recently Introduced House Bills</div>
      <div id="house-bills"></div>
    </div>
    <div id="senate-bills-wrapper">
      <div id="senate-bills-header" class="congress-header">Recently Introduced Senate Bills</div>
      <div id="senate-bills-header"><div>
      <div id="senate-bills"></div>
    </div>
  </div>
  <div id="bill-details"></div>
  <div class="clearfix">&nbsp;</div>
</div>
