<style type="text/css">
div#congress-display {
  background: white;
}
#congress-display > div {
  color: #555555;
  padding: 0;
}
#congress-display ul {
  padding: 0;
}
div.congress-header {
  font-family: "Bebas Neue";
  font-size: 24px;
  color: black;
}

#house-bills, #senate-bills {
  height: 480px;
  width: 100%;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 12px;
}

#house-bills-wrapper {
  float: left;
}

#senate-bills-wrapper {
  float: right;
}

.bill {
  padding: .5em 0;
}

.bill > div {
  padding: 0 1em;
  line-height: 1em;
}

.bill-number {
  display: inline-block;
}

/* needs to override .bill > div */
div.bill-date {
  line-height: 2em;
  float: right;
}

.bill-action:hover {
  background: #EEEEEE;
}

.odd {
  background: #EEEEEE;
}

.clearfix {
  clear: both;
}

</style>

<script id="bills-template" type="text/x-mustache-template">
<div class="bill {{parity}}">
  <h6 class="bill-number">
    <a href="#" onclick="billDetails('{{bill_id}}'); return false;">{{bill_number}}</a>
  </h6>
<div class="bill-date">{{bill_date}}</div>
<div>{{bill_title}}</div>
<div class="bill-content"></div>
</script>

<script id="bill-details-template" type="text/x-mustache-template">
<h6 class="bill-number">{{bill}}</h6>
<div class="bill-date">First introduced {{introduced_date}}</div>
<div class="bill-title">{{title}}</div>
<div class="member">Sponsored by {{sponsor}}</div>
<div class="cosponsors">Cosponsors: {{cosponsors}}</div>

<div class="bill-actions">
  <h4>Recent Actions</h4>
    <div class="bill-action">
      <div class="bill-date">{{latest_major_action_date}}</div>
      <div class="bill-action-description">{{latest_major_action}}</div>
    </div>
  {{#each actions}}
    <div class="bill-action">
      <div class="bill-date">{{trim_date}}</div>
      <div class="bill-action-description">{{this.description}}</div>
    </div>
  {{/each}}
</div>

<div class="bill-versions">
  <h4>Versions</h4>
  {{#each versions}}
    <div class="bill-status">{{this.status}}</div>
    <div class="bill-title">{{this.title}}</div>
    <a href="{{this.thomas_url}}">Read Version</a>
  {{/each}}
</div>
</script>

<script type="text/javascript">
var $displayDiv;
function toggleWidth() {
  var width = parseInt($("#wrapper").css("max-width"));
  if (width <= 640) {
    $("#wrapper").css("max-width", "100%");
  } else {
    $("#wrapper").css("max-width", "640px");
  }
}

function clearDisplay () {
  $displayDiv.html("");
}

/* converts a bill.number to a bill-id used in API calls */
function formalizeBillId (str) {
  return str.replace(/[ .]+/g, "").toLowerCase();
}

function billDetails (billId) {
  billId = formalizeBillId(billId);
  $.ajax("/congress/query/bill-details/" + billId,
      { "success" : showBillDetails,
        "error" : showError });
}

function showBillDetails (details) {
  var template = Handlebars.compile($("#bill-details-template").html());
  var html = template(details);
  $("#current-bill").html("- " + details.bill);
  $("#bill-details").html(html);
  $("#congress-accordion").accordion("activate", "#bill-details-header");
}

function showBills (data, chamber) {
  console.log (data);
  var $element = $("#" + chamber + "-bills");
  $element.html("&nbsp;");
  var bill;
  var template = Handlebars.compile($("#bills-template").html());
  var html;
  for (var i = 0; i < data.length; i++) {
    bill = data[i];
    bill.id = formalizeBillId(bill.number);
   html = template(
                    {parity: ["even","odd"][i%2],
                     bill_id: bill.id,
                     bill_number: bill.number,
                     bill_title: bill.title,
                     bill_date: bill.introduced_date});
    $(html).appendTo($element);
  }
}

/* gets recent bills for both chambers of the selected type */
function getBills () {
  var type = $("#bill-types :checked").attr("id");

  // capitalize type for use in the title
  var titleType = type[0].toUpperCase() + type.slice(1);

  // build accordion section title, special logic for type 'major'
  var headerTitle = type == "major" ?
                    "Recent Major Bills" :
                    "Recently " + titleType + " Bills";
  $("#bill-list-current-type").html("- " + headerTitle);

  $.ajax("/congress/query/recent-bills/house/" + type,
      { "success" :
        function (data) {
          showBills (data, "house");
        }
      }
  );
  $.ajax("/congress/query/recent-bills/senate/" + type,
      { "success" :
        function (data) {
          showBills (data, "senate");
        }
      }
  );
}

function showError (request, state, error) {
  console.log(error);
}

$().ready(function () {
  // Handlebars setup
  Handlebars.registerHelper("trim_date", function () {
    return this.datetime.split(" ")[0];
  });

  // UI prep
  $displayDiv = $("#congress-display");

  $("#congress-accordion").accordion({
    active: false,
    animated: false,
    autoHeight: false,
    icons: false
  });

  $("#bill-search").submit(function () {
    billDetails($("#bill-search-text").val());
  });

  $displayDiv.tabs();

  $("#bill-types").buttonset();
  $("#bill-types :radio").change(getBills);

  $.ajaxSetup({ error: showError });
  $("#busy").ajaxStart (function () {
    $(this).show();
  });
  $("#busy").ajaxStop (function () {
    $(this).hide();
  });
  getBills();
  billDetails("s1");
});
</script>
<div id="congress-display">
  <a href="#" id="widthToggler" onclick="toggleWidth(); return false;">Toggle Width</a>
  <div id="congress-accordion">
    <h3><a href="#">Directions</a></h3>
    <div id="directions">
      <p>
      This tool queries the New York Times' Congress API to retrieve information 
      about recent legislation in the US Senate and US House of Representatives.
      </p>
      <p>
      You can search for a specific bill or browse recently introduced, updated,
      or passed bills, or bills the New York Times considers 'major'. Only data
      from the 112th congress is available for now, but data from the 101st
      congress forward will be available soon.
      </p>
    </div>
    <h3 id="bill-details-header"><a href="#">Bill Details <span id="current-bill">&nbsp;</span></a></h3>
    <div id="bill-details-pane">
      <form action="#" method="get" id="bill-search"><input type=text id="bill-search-text"><input type="submit" value="View Bill"></form>
      <div id="bill-details"></div>
    </div>
    <h3><a href="#">Bill List <span id="bill-list-current-type">&nbsp;</span></a></h3>
    <div id="bill-list">
      <div id="bill-types">
        <input type="radio" id="introduced" name="radio" checked="checked" /><label for="introduced">Introduced</label>
        <input type="radio" id="updated" name="radio" /><label for="updated">Updated</label>
        <input type="radio" id="passed" name="radio" /><label for="passed">Passed</label>
        <input type="radio" id="major" name="radio" /><label for="major">Major</label>
      </div>
      <div id="bill-display">
        <ul>
          <li class="congress-header"><a href="#bill-display-1">House Bills</a></li>
          <li class="congress-header"><a href="#bill-display-2">Senate Bills</a></li>
        </ul>
        <div id="bill-display-1">
          <div id="house-bills"></div>
        </div>
        <div id="bill-display-2">
          <div id="senate-bills"></div>
        </div>
      </div>
    </div>
  </div>
</div>
