@font-face {
  src: url('../fonts/sans-sara.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url('../fonts/BebasNeue.otf');
  font-weight: normal;
  font-style: normal;
}

/* palette */
$theme: #b5600b;
$highlight: #e69e2f;
$shadow: #693909;
$offblack: none;
$offwhite: none;

$bg: #F8F8F8;

$shadowcolor: $shadow;
$menubarcolor: none;
$menubartextcolor: white;
$loginlabeltextcolor: $shadowcolor;
$input_border: white;

$wrapperbg: $bg;
$wrapperbordercolor: #0f1521;

$maintextcolor: #FFF;
$linkcolor: $theme;

$contentdivbackground: none;
$contentdivtextcolor: black;
$contentlinkcolor: $shadow;


/* The base unit for scheme */
$basesize: 14px;

@mixin hardware($light, $dark) {
}
