@import "util";
@font-face {
  src: url('../fonts/sans-sara.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url('../fonts/BebasNeue.otf');
  font-weight: normal;
  font-style: normal;
}

/* The base unit for scheme */
$basesize: 14px;

$bodywidth: 800px;

/* palette */
$theme: hsl(240, 60, 20);
$highlight: hsl(240, 60, 80);
$shadow: hsl(240, 40, 15);
$accent: hsl(210, 70, 70);
$offblack: hsl(244, 100, 5);
$offwhite: hsl(230, 100, 93);

/* Message colors */
$alerthue: 0;
$noticehue: 120;

$headerbg: hsl(240, 40, 80);
$headernipplebg: hsl(240, 40, 30);
$bg: hsl(240, 40, 7);

$shadowcolor: $shadow;
$menubarcolor: none;
$menubartextcolor: black;
$loginlabeltextcolor: $shadowcolor;
$input_border: white;

$wrapperbg: $bg;
$wrapperbordercolor: #0f1521;

$maintextcolor: white;
$linkcolor: $theme;

$contentdivbackground: transparentize(white, .95);
$contentdivtextcolor: $offwhite;
$contentlinkcolor: $shadow;

/* UI Color defaults */
$uiborderradius: .25*$basesize;
$uibordercolor: #888;
$uiactivetextcolor: $offwhite;
$uiactivebackgroundcolor: lighten($offwhite, 30%);
$uiinactivetetextcolor: #DDD;
$uibackgroundcolor: $offwhite;

/* abstract base class :P */
.hardware {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 0 .5*$basesize;
  line-height: 3*$basesize;
  height: (3*$basesize - 2);
  font-size: 1.5*$basesize;
  border: 0 solid transparent;
  color: $accent;
}

.hardware:hover {
  background: $theme;
  color: $offwhite;
}

.hardware:active, .hardware:focus {
  outline: none;
}
