@import "util";
@font-face {
  src: url('../fonts/sans-sara.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url('../fonts/BebasNeue.otf');
  font-weight: normal;
  font-style: normal;
}

/* The base unit for scheme */
$basesize: 14px;

$bodywidth: 640px;

/* palette */
$theme: hsl(39, 60, 60);
$highlight: hsl(39, 60, 80);
$midtone: hsl(34, 60, 20);
$lowmid: hsl(34, 40, 20);
$altlowmid: hsl(49, 50, 70);
$shadow: hsl(34, 40, 15);
$accent: hsl(44, 60, 60);
$offblack: hsl(44, 100, 5);
$offwhite: hsl(224, 100, 97);

$bg: #F8F8F8;

$shadowcolor: $shadow;
$menubarcolor: none;
$menubartextcolor: black;
$loginlabeltextcolor: $shadowcolor;
$input_border: white;

$wrapperbg: $bg;
$wrapperbordercolor: #0f1521;

$maintextcolor: black;
$linkcolor: $theme;

$contentdivbackground: none;
$contentdivtextcolor: black;
$contentlinkcolor: $shadow;

/* UI Color defaults */
$uiborderradius: .25*$basesize;
$uibordercolor: #888;
$uiactivetextcolor: #000;
$uiinactivetetextcolor: #DDD;
$uibackgroundcolor: #EEE;

@mixin hardware($light, $dark) {
  background: $light;
  color: $dark;
}
