@import "defs";
#busy {
  margin: 0;
  padding: 0;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background-image: url(busy.gif);
  background-repeat: no-repeat;
  border: 1px solid #AAA;
}
* {
  /* Should be all the reset we need */
  line-height: 2*$basesize;
  font-size: $basesize;
  margin: 0;
  padding: 0;

  /* Invalid CSS, but worth it because Mozilla looks a lot better */
  text-rendering: optimizeLegibility;
}

body {
  color: $maintextcolor;
  background: $bg;
  background-image: url(noise.png);

  /* always want a scrollbar, otherwise the page jumps as they turn on/off */
  overflow: scroll;
}

h1 {
  line-height: 3*$basesize;
  font-size: 3*$basesize;
  font-weight: bold;
}

h2 {
  line-height: 3*$basesize;
  font-size: 2*$basesize;
  font-weight: bold;
}

h3 {
  line-height: 2*$basesize;
  font-size: 1.5*$basesize;
}

a, a:visited, a:active {
  color: $linkcolor;
  text-decoration: underline;
}

a:hover {
  color: white;
  text-decoration: underline;
}

p {
  margin-top: $basesize;
}

textarea {
  width: 100%;
}

#wrapper {
  background: $wrapperbg;
  max-width: 640px-(2*$basesize);
  padding: $basesize;
  margin: auto;
  margin-top: $basesize;
  font-size: 12px;
}

#content {
  z-index: 1;
  clear: both;
  font-family: "Arial", "Helvetica", "Droid Sans", sans-serif;
  > div {
    background: $contentdivbackground;
    color: $contentdivtextcolor;
    margin-top: $basesize;
    padding: $basesize;
  }
  a {
    color: $contentlinkcolor;
  }
  ul {
    padding-left: 2*$basesize;
    list-style-type: square;
  }
}
