@import "defs";

* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

p {
  margin-bottom: $baseSize;
  max-width: 35em;
}

body {
  background-color: hsl(0,0,96);
  /* background-image: url(/assets/pattern.png); */
  color: hsl(0, 0, 20);
  line-height: $baseSize;
  font-size: $fontSize;
  font-family: "Roboto";
}

h1, h2, h3, h4, h5 {
  margin-bottom: $baseSize;
  font-family: "Roboto";
}

h1 {
  line-height: 2*$baseSize;
  font-size: 2*$fontSize;
}

h2, h3 {
  line-height: 2*$baseSize;
  font-size: 1.5*$fontSize;
}

h4, h5 {
}

a, a:visited {
  color: hsl(220, 40, 50);
}

a:hover {
  color: hsl(220, 70, 70);
}

ul, ol {
  margin-bottom: $baseSize;
}

li {
  margin-left: 2*$baseSize;
}

code {
  text-shadow: none;
  background: hsl(0,0,85);
  white-space: nowrap;
}

pre code {
  white-space: pre;
  font-size: ($fontSize * .9);
  display: block;
  margin-bottom: $baseSize;
  padding: .5em;
}

#wrapper {
  width: $bodyWidth;
  margin: auto;
  padding: $baseSize;
}

#header {
  display: inline-block;
  width: $bodyWidth - $contentWidth - $baseSize;
  text-align: left;
}

#content {
  text-shadow: 1px 1px 0px #CCC;
  width: $contentWidth;
  margin: auto;
  float: right;
}

#menubar {
}

#menu {
  vertical-align: middle;
}

#navlinks {
  margin-bottom: 0;
  border-left: 1px dotted black;
  a {
    padding-left: .5*$baseSize;
    font-weight: bold;
    display: block;
    font-family: "Roboto";
    color: hsl(0, 0, 40);
  }
  a:hover {
    background: hsla(0, 0, 100, .4);
  }
  li {
    list-style: none;
    font-size: $fontSize;
    line-height: 2*$baseSize;
    padding-left: 0;
    margin-left: 0;
  }
}

#titlebar, #menubar {
}

#titlebar {
  vertical-align: baseline;
}

#site_title {
  display: inline-block;
  font-family: "Chunk Five", serif;
  font-size: 2.5*$fontSize;
  width: 100%;
  text-shadow: 1px 1px 0px hsla(0,0,100,1);
}

#page_title {
  font-size: 1.5*$fontSize;
  font-style: italic;
  font-weight: normal;
  color: hsl(0,0,60);
}

#header {
}

#content {
  min-height: 800px;
  > div {
    margin-bottom: $baseSize;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  min-height: 2*$baseSize;
}


#navlogin {
  margin-bottom: $baseSize;
  font-size: $fontSize;
  vertical-align: middle;
  input {
    width: 100%;
  }
  div {
    display: inline-block;
  }
  #logout {
    margin-left: .5em;
  }
}

.actions {
  display: block;
  margin-bottom: 2*$baseSize;
  a {
    margin-right: .5*$baseSize;
    color: hsl(20, 80, 50);
  }
}

.post-date {
  font-style: italic;
  font-size: ($fontSize - 1);
  color: hsl(0, 0, 40);
}

.clearfix {
  clear: both;
}
