@import "global";
#header {
  z-index: 2;
  margin-bottom: 0;
}

#titlebar {
  text-shadow: 2px 2px 0 #888;
  /*border-bottom: 1px solid $titlebar_divider;*/
  > * {
    display: inline-block;
  }
}

#menubar {
  background: $menubarcolor;
  padding: 0 $basesize;
  color: $menubartextcolor;
}

#site_title {
  position: relative;
  top: $basesize/2;
  font-family: "Sans Sara";
  font-size: 5*$basesize;
  line-height: 3*$basesize;
  color: #bada55;
}

#page_title {
  position: relative;
  font-size: 3*$basesize;
  font-family: "Bebas Neue";
  float: right;
  line-height: 2*$basesize;
  top: $basesize*1.5;

  /* set it below everything so it doesn't interfere with the login form*/
  z-index: -1;
}
#navlinks {
  display: inline-block;
  padding-left: 0;
  margin-left: 0;
  li {
    display: inline-block;
    margin-right: $basesize;
    list-style-type: none;
    line-height: 4*$basesize;
  }
}

#navlinks a {
  padding-left: 0;
  margin-top: 0;
  display: inline-block;
  font-family: "Bebas Neue";
  font-size: 1.5*$basesize;
}
