@import "global";
#header {
  h1 {
    display: inline-block;
    margin-bottom: 0px;
  }

  font-size: 12px;
}

#titlebar {
  border-bottom: 1px solid $titlebar_divider;
}

#navlinks {
  float: left;
}

body {
  background: $bg;
}
