@import "defs";

#titlebar {
  color: black;
  > * {
    display: inline-block;
  }
}

#menubar {
  display: block;
  color: $menubartextcolor;
  padding: 0;
  text-align: right;
}

#site_title {
  font-weight: bold;
  font-size: 3*$basesize;
  line-height: 3*$basesize;
}

#page_title {
  float: right;
  font-size: 2*$basesize;
  line-height: 3*$basesize;
}
#navlinks {
  width: 100%;
  li {
    display: inline-block;
    list-style-type: none;
    line-height: 2*$basesize;
    width: 80px;
    text-align: center;
  }
  a {
    display: block;
  }
  a:hover, a:focus, a:active {
    color: black;
    background: $accent;
    outline: 0px;
  }
}

#navlinks a {
  font-size: 1.2*$basesize;
}
