@import "defs";
#nav_login {
  text-align: right;
  background: #DDD;
  padding: .5*$basesize;

  input, label {
    line-height: $basesize;
    height: 1.5*$basesize;
    margin: 0 0 .5*$basesize 0;
    width: 160px - 2*$basesize;
    padding: 0 .5*$basesize;
  }

  input {
    display: block;
    border: none;
  }

  input[type="submit"] {
    line-height: 2*$basesize;
    height: 2*$basesize;
    display: inline;
    margin: 0;
    width: 100%;
    background: #EEE;
  }

  input[type="submit"]:hover {
    background: white;
  }

  label {
    font-size: -3 + $basesize;
    color: black;
  }

  #username {
  }

  #logout {
  }

  label, #username, #logout {
    text-shadow: 1px 1px 1px white;
  }
}

#nav_login:hover #logout {
  visibility: visible;
}
