@import "defs";
#nav_login {
  float: right;
  text-align: right;
  min-width: 160px-$basesize;
  line-height: $basesize;
  height: 2*$basesize;
  color: white;

  input, label {
    width: 80px-$basesize;
    line-height: 1.5*$basesize;
    height: (1.5*$basesize) - 2;
    border-radius: .25*$basesize;
    padding: 0 .5*$basesize;
    border: 1px solid $shadow;
    background: white;
    display: inline-block;
  }

  input::-webkit-input-placeholder {
    color: auto;
  }

  input[type="submit"] {
    @extend .hardware;
    line-height: 1.5*$basesize;
    height: (1.5*$basesize) - 2;
  }

  label {
    font-size: -3 + $basesize;
    color: black;
  }

  #username {
    float: left;
  }

  #logout > a {
    @extend .hardware;
    line-height: 1.5*$basesize;
    height: (1.5*$basesize) - 2;
  }

  label, #username, #logout {
    text-shadow: 1px 1px 1px $shadow;
  }
}

#nav_login:hover #logout {
  visibility: visible;
}
