@import "defs";
#navlogin {
  line-height: $baseSize;
  font-size: $fontSize;
  vertical-align: bottom;
  text-align: right;
  float: right;
  height: $headerHeight;
  width: 180px;
  div {
    display: inline-block;
  }
  #logout a {
    color: hsl(220, 70, 70);
    margin-left: .5em;
  }

  #logout a:hover {
    color: hsl(220, 70, 80);
  }
  input, button, select {
    width: (108px - .5 * $baseSize);
    padding: (.25*$baseSize - 1px);
    line-height: ($baseSize);
    height: (1.25*$baseSize);
    border-radius: 2px;
    display: block;
    margin-top: 2px;
    border: 1px solid hsl($primary, 40, 80);
  }

  #username-text, #password-text {
    clear: left;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    float: left;
  }

  #username-text {
    margin-top: .5*$baseSize;
    margin-bottom: .5*$baseSize;
  }

  input:last-child {
    margin-bottom: 0px;
  }
  #login-button {
    float: right;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: hsl($primary, 10, 96);
    @include gradient(hsla(0,0,100,.2), hsla(0,0,0,.2));
    text-shadow: 1px 1px 1px white;
    line-height: ($headerHeight - 1.5*$baseSize);
    height: ($headerHeight - 1.5*$baseSize);
    margin: .5*$baseSize 0;
    width: 3*$baseSize;
  }
  #login-button:hover, #login-button:focus {
    background-color: hsl($primary, 10, 99);
  }
  #login-button:active {
    background-color: hsl($primary, 10, 99);
    @include gradient(hsla(0,0,30,.2), hsla(0,0,80,.2));
    box-shadow: 1px 0 .5*$baseSize -2px hsla(0,0,20,.3) inset;
  }
  #login-button.initial {
  }
  #username {
    line-height: $headerHeight;
  }
}
