@import "defs";
#navlogin {
  line-height: $baseSize;
  font-size: $fontSize;
  vertical-align: bottom;
  text-align: right;
  float: right;
  height: $headerHeight;
  width: 180px;
  overflow: hidden;
  div {
    display: inline-block;
  }
  #logout a {
    color: hsl(220, 70, 70);
    margin-left: .5em;
  }

  #logout a:hover {
    color: hsl(220, 70, 80);
  }
  input, button, select {
    width: 180px;
    padding: (.25*$baseSize - 1px);
    line-height: ($baseSize);
    height: ($baseSize - 4px);
    border: none;
    border-radius: 2px;
    display: inline-block;
    margin-top: 2px;
  }

  #username-text, #password-text {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }

  input:last-child {
    margin-bottom: 0px;
  }
  #login-button {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: hsl($primary, 10, 96);
    @include gradient(hsla(0,0,100,.2), hsla(0,0,0,.2));
    text-shadow: 1px 1px 1px white;
  }
  #login-button:hover, #login-button:focus {
    background-color: hsl($primary, 10, 99);
  }
  #login-button:active {
    background-color: hsl($primary, 10, 99);
    @include gradient(hsla(0,0,30,.2), hsla(0,0,80,.2));
    box-shadow: 1px 0 .5*$baseSize -2px hsla(0,0,20,.3) inset;
  }
  #login-button.initial {
    line-height: ($headerHeight - 1.5*$baseSize);
    height: ($headerHeight - 1.5*$baseSize);
    margin: .5*$baseSize auto;
    width: auto;
    padding: 0 $baseSize;
  }
  #username {
    line-height: $headerHeight;
  }
}
