@import "defs";
#navlogin {
  font-size: $fontSize;
  vertical-align: middle;
  float: right;
  height: 2*$baseSize;
  div {
    display: inline-block;
  }
  #logout a {
    color: hsl(220, 70, 70);
    margin-left: .5em;
  }

  #logout a:hover {
    color: hsl(220, 70, 80);
  }
  input, button, select {
    width: 10*$fontSize;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: (.25*$baseSize - 1px);
    border: 1px solid hsl($primary, 20, 60);
    margin-bottom: .5*$baseSize; 
    border-radius: 2px;
  }
  input:last-child {
    margin-bottom: 0px;
  }
  input[type="submit"] {
    background-color: hsl($primary, 10, 96);
    @include gradient(hsla(0,0,100,.2), hsla(0,0,0,.2));
    text-shadow: 1px 1px 1px white;
  }
  input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: hsl($primary, 10, 99);
  }
  input[type="submit"]:active {
    background-color: hsl($primary, 10, 99);
    @include gradient(hsla(0,0,30,.2), hsla(0,0,80,.2));
    box-shadow: 1px 0 .5*$baseSize -2px hsla(0,0,20,.3) inset;
  }
}
