// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "global";

.post {
}

.post-content {
  margin: $basesize 0;
}

.post-title {
  text-shadow: 1px 1px 0px $linkcolor;
  color: $contentdivtextcolor;
}

.post-date {
  font-size: $basesize*0.8;
}
