// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "defs";

.post {
  margin: 0;
  padding: 0;
}

.post-content {
  margin: 0 0 $basesize 0;
}

.post-date {
  display: inline-block;
  font-size: $basesize*0.8;
}
