// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "global";

.post {
}

.postcontent {
  margin: $basesize 0;
}

.posttitle {
  text-shadow: 1px 1px 0px #000;
  font-weight: bold;
  font-size: 2*$basesize;
}
