<script type="text/x-pyropus-js" href="/pfxed.js"></script>
<script type="text/x-pyropus-js" href="/pfxedloader.js"></script>
<style>
#ui textarea {
  height: 10em;
}

#ui input {
  display: block;
}
</style>

<select id="sample-select">
</select>
<input type="hidden" id="sample-id" name="id" value="<%= if (@sample) then @sample.id end %>">
<input type="text" id="sample-name">
<button id="new-sample">New</button>
<button id="save-sample">Save</button>
<button id="delete-sample">Delete</button>
<button id="random-sample">Random</button>
