<script src="/pfxed.js"></script>
<script>

$(function () {
  function newSample () {
    $.ajax({
      url: "/pfxed",
      type: "POST",
      dataType: "json",
      success: function (d) {
        console.log(d);
      }
    });
  }

  function saveSample () {
    var data = {
      id: $("#sample-id").val(),
      sample: {
        init_function: $("#init-function").val(),
        draw_function: $("#draw-function").val(),
        update_function: $("#update-function").val(),
      }
    };

    $.ajax({
      url: "/pfxed/" + data.id,
      type: "PUT",
      dataType: "json",
      data: data,
      success: function (d) {
        console.log(d);
      }
    });

    return false;
  }

  init($("#content"));

  <% if @sample %>
  $("#init-function").val("<%=j @sample.init_function %>");
  $("#draw-function").val("<%=j @sample.draw_function %>");
  $("#update-function").val("<%=j @sample.update_function %>");
  $("#sample-id").val("<%= @sample.id %>");
  <% end %>

  $("#save-sample").click(saveSample);
  $("#new-sample").click(newSample);

  // get sample list
  $.ajax({
    url: "/pfxed/list",
    dataType: "json",
    success: function (data) {
      console.log(data);
      for (var i in data) {
        $("#sample-select").append(
          $("<option value='" + data[i].id + "'>" + data[i].name + "</option>")
        );
      }
    }
  });

});
</script>
<style>
#ui textarea {
  height: 10em;
}
</style>

<select id="sample-select">
</select>
<input type="hidden" id="sample-id" name="id">
<button id="new-sample">New</button>
<button id="save-sample">Save</button>
